/log/
/inferno/
/BatchSize_64_Epochs_2_LearningRate_0002_saved_model/
/dsp-ip/
/saved_model/
/images_dataset/
/images_from_videos1_dataset/
/IR videos/
/old/
/test1.mp4
/vid5.mp4
/Threshold_experimenting.py
/test.py
/preproccess.py
/experiment_results.csv
/convert_threshold.py
