/log/
/inferno/
/dsp-ip/
/images_dataset/
/images_from_videos1_dataset/
/IR videos/
/old/
/test1.mp4
/vid5.mp4
/Threshold_experimenting.py
/test_canny.py
/preproccess.py
/experiment_results.csv
/convert_threshold.py
/images_from_camera1_dataset/
/images_from_videos3_dataset/
/log_128_72/
/dataset_folders_pupils.zip
/saved_model/output__inference_original.mp4
/saved_model/output_test1_inference_original.mp4
/saved_model/output_vid5_inference_original.mp4
